@model AprraisalApplication.Models.ViewModels.ViewAppraisalVM

@{
    ViewBag.Title = "Group Participants";
}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Appraisals</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Appraisal</li>
                    <li class="breadcrumb-item active" aria-current="page">Appraisals</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">
    <!-- Elements -->
    <a href="@Url.Action("initiated-appraisals-md", "mdappraisal")" class="btn btn-link"><i class="fa fa-arrow-left"></i> Back</a>
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default">
            <h3 class="block-title">@Model.Appraisal.AppraisalTitle</h3>
        </div>
        <div class="block-content">
            <div class="block block-rounded block-bordered">
                <div class="block-content block-content-full">
                    <h5>Departments and Number of Participants</h5>
                    <div class="block-content pb-3">
                        @if (Model.DepartmentAndParticipants.Count() < 1)
                        {
                            <p>No department was registered</p>
                        }
                        else
                        {
                            <div class="row">
                                @foreach (var item in Model.DepartmentAndParticipants.OrderByDescending(x => x.NumberOfParticipants))
                                {

                                    <div class="col-sm-4 invisible pt-3 pb-3" data-toggle="appear">
                                        <a class="block block-rounded block-bordered block-link-shadow"
                                           href="@Url.Action("view-participants-md","mdappraisal", new { d = item.Department.Id, s = Model.Appraisal.Slug })">
                                            <div class="block-content block-content-full text-center bg-body-light" data-toggle="appear">
                                                <div class="mt-2">
                                                    <p class="font-w600 mb-0">
                                                        @item.Department.Name
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="block-content block-content-full">
                                                <div class="">
                                                    <div class="text-center">
                                                        <div class="m-2">@item.NumberOfParticipants</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Elements -->
</div>

