@model AprraisalApplication.Models.ViewModels.DashboardVM
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Content -->
<div class="content content-full">

    <!-- Overview -->
    <div class="">
        <div class="mx-5">
            <h5 class="mt-4 mb-3">Home - Dashboard</h5>
            <div class="row">
                <a href="@Url.Action("ongoing-appraisals-all", "appraisal")" class="col-sm-6 invisible text-muted" data-toggle="appear">
                    <div class="block block-rounded block-fx-pop text-center">
                        <div class="block-content block-content-full">
                            <div class="row">
                                <div class="col-md-8">
                                    <i class="fa fa-clipboard font-size-h1 text-primary"></i>
                                    <div class="font-size-h6">My Ongoing Appraisals</div>
                                </div>
                                <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.MyOngoingAppraisals</div>
                            </div>
                        </div>
                    </div>
                </a>

                @if (Model.MySubordinates != 0)
                {
                    <a href="@Url.Action("appraisees", "appraisal")" class="col-sm-6 invisible text-muted" data-toggle="appear">
                        <div class="block block-rounded block-fx-pop text-center">
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="si si-users font-size-h1 text-primary"></i>
                                        <div class="font-size-h6">My Subordinates</div>
                                    </div>
                                    <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.MySubordinates</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (User.IsInRole("HOD"))
                {
                    <a href="@Url.Action("employees-in-department", "departmentappraisal")" class="col-sm-6 invisible text-muted" data-toggle="appear">
                        <div class="block block-rounded block-fx-pop text-center">
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fa fa-users font-size-h1 text-primary"></i>
                                        <div class="font-size-h6">Employees in Dept.</div>
                                    </div>
                                    <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.EmployeesInDept</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (User.IsInRole("HR") || User.IsInRole("MD"))
                {
                    <a href="@(User.IsInRole("HR") ? Url.Action("all-employees", "hr"): Url.Action("all-employees", "mdappraisal"))" class="col-sm-6 invisible text-muted" data-toggle="appear">
                        <div class="block block-rounded block-fx-pop text-center">
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fa fa-users font-size-h1 text-primary"></i>
                                        <div class="font-size-h6">All Employees</div>
                                    </div>
                                    <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.NumberOfEmployees</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@(User.IsInRole("HR") ? Url.Action("deactivated-employees", "hr"): Url.Action("deactivated-employees", "mdappraisal"))" class="col-sm-6 invisible text-muted" data-toggle="appear">
                        <div class="block block-rounded block-fx-pop text-center">
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fa fa-users font-size-h1 text-primary"></i>
                                        <div class="font-size-h6">Deactivated Employees</div>
                                    </div>
                                    <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.DeactivatedEmployees</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (User.IsInRole("HR"))
                {
                    <a href="@Url.Action("initiated-appraisals", "appraisal")" class="col-sm-6 invisible text-muted" data-toggle="appear">
                        <div class="block block-rounded block-fx-pop text-center">
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fa fa-book font-size-h1 text-primary"></i>
                                        <div class="font-size-h6">Completed Appraisals</div>
                                    </div>
                                    <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.CompletedAppraisals</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("initiated-appraisals", "appraisal")" class="col-sm-6 invisible text-muted" data-toggle="appear">
                        <div class="block block-rounded block-fx-pop text-center">
                            <div class="block-content block-content-full">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="si si-book-open font-size-h1 text-primary"></i>
                                        <div class="font-size-h6">Ongoing Appraisals</div>
                                    </div>
                                    <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.OngoingAppraisals</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <!-- END Overview -->
</div>


@section Scripts {

    <!-- END Page Content -->
    <script>
        $(function () {
            
        });
    </script>
}
