@model AprraisalApplication.Models.ViewModels.AppraiseesVM

@{
    ViewBag.Title = "Appraisees";
}

@section Stylesheet{
    
}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Appraisees</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Appraisal</li>
                    <li class="breadcrumb-item active" aria-current="page">Appraisees</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">
    <!-- Elements -->
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default">
            <h3 class="block-title">Appraisees</h3>
        </div>
        <div class="block-content">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <p>The following staff has been assigned to you for their appraiser exercise.</p>
                    <div class="row">
                        <div class="table-responsive" style="font-size:15px">
                            <table class="table table-hover table-vcenter" id="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">#</th>
                                        <th>Appraisee Name</th>
                                        <th class="d-none d-sm-table-cell">Department</th>
                                        <th style="">Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int num = 1;
                                        foreach (var item in Model.Appraisees)
                                        {
                                            <tr>
                                                <th class="text-center" scope="row">@num</th>
                                                <td class="font-w600">
                                                    <a href="#">@item.Firstname @item.Lastname</a>
                                                </td>
                                                <td class="text-sm-left capitalize-text">
                                                    @item.Department.Name
                                                </td>
                                                <td class="capitalize-text">
                                                    @item.State.Description
                                                </td>
                                            </tr>
                                            ++num;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="row">
                        @foreach (var item in Model.Appraisees)
                        {
                            var imgsrc = String.Empty;
                            if (item.PassportImage != null)
                            {
                                var imgbase64 = Convert.ToBase64String(item.PassportImage);
                                imgsrc = string.Format("data:image/jpg;base64,{0}", imgbase64);
                            }
                            <a class="block block-rounded block-bordered block-link-shadow col-md-6 p-0" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-body-light">
                                    <img class="img-avatar img-avatar-thumb" src="@imgsrc" alt="Employee passport">
                                    <div class="mt-2">
                                        <p class="font-w600 mb-0">
                                            @item.Firstname @item.Lastname 
                                        </p>
                                    </div>
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="row gutters-tiny">
                                        <div class="col-6">
                                            <div class="item item-circle mx-auto">
                                                Location
                                            </div>
                                            <p class="text-muted mb-0 capitalize-text" style="font-size:15px">
                                                @item.State.Description
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="item item-circle mx-auto">
                                                Department
                                            </div>
                                            <p class="text-muted mb-0 capitalize-text" style="font-size:15px">
                                                @item.Department.Name
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }

                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- END Elements -->
</div>


@section Scripts {

    <script>
        $(function () {
            var $texts = $(".capitalize-text");
            $.each($texts, function () {
                $(this).text(capitalize($(this).text()));
            })
            function capitalize(text) {
                return text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
            }
            
        })
                    ////////////////////////////////////////////////////////////////////
    </script>
}
