@model AprraisalApplication.Models.ViewModels.AppraiseMembersVM

@{
    ViewBag.Title = "View Participants";
}


<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Appraisees</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Appraisal</li>
                    <li class="breadcrumb-item active" aria-current="page">Staff</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">
    <a href="/departmentAppraisal/department-initiated-appraisals" class="btn btn-link btn-sm mb-2"><i class="fa fa-arrow-left"></i> Back</a>
    <!-- Elements -->
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default">
            <h3 class="block-title">Appraise Team Members</h3>
        </div>
        <div class="block-content">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <div class="row">
                        @if (Model.AppraiseeAndProgresses.Count() < 1)
                        {
                            <p>No staff in your department is participating in the selected appraisal</p>
                        }
                        @foreach (var item in Model.AppraiseeAndProgresses)
                        {
                            var imgsrc = String.Empty;
                            if (item.Employee.PassportImage != null)
                            {
                                var imgbase64 = Convert.ToBase64String(item.Employee.PassportImage);
                                imgsrc = string.Format("data:image/jpg;base64,{0}", imgbase64);
                            }
                            <div class="block block-rounded block-bordered block-link-shadow col-md-6 p-0" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-body-light">
                                    @if (imgsrc == String.Empty)
                                    {
                                        <img class="img-avatar img-avatar-thumb" src="~/Images/avatar10.jpg" alt="Employee passport">
                                    }
                                    else
                                    {
                                        <img class="img-avatar img-avatar-thumb" src="@imgsrc" alt="Employee passport">
                                    }
                                    <div class="mt-2">
                                        <p class="font-w600 mb-0">
                                            @item.Employee.Firstname @item.Employee.Lastname
                                        </p>
                                    </div>
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="row gutters-tiny">
                                        <div class="col-6">
                                            <div class="item item-circle mx-auto">
                                                Location
                                            </div>
                                            <p class="text-muted mb-0" style="font-size:15px">
                                                @item.Employee.State.Description
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="item item-circle mx-auto">
                                                Department
                                            </div>
                                            <p class="text-muted mb-0" style="font-size:15px">
                                                @item.Employee.Department.Name
                                            </p>
                                        </div>
                                        @if(item.AppraiseeProgress != null)
                                        {
                                            if (item.AppraiseeProgress.SupervisorSubmit)
                                            {
                                                <div class="col-12">
                                                    <div>
                                                        <a href="/departmentappraisal/view-appraisal-pdf?u=@item.Employee.ApplicationUserId&s=@Model.NewAppraisal.Slug" target="_blank" class="btn btn-link"> <i class="fa fa-file-pdf"></i> View pdf</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <hr />
                                    <div class="row text-center">
                                        @if (item.AppraiseeProgress == null)
                                        {
                                            <div class="text-danger" style="margin:auto">Not yet started</div>
                                        }
                                        else if (item.AppraiseeProgress.AppraiseeSubmit &&
                                            !item.AppraiseeProgress.SupervisorSubmit &&
                                            !item.AppraiseeProgress.SupervisorReject &&
                                            !item.AppraiseeProgress.SupervisorAskForFeedback &&
                                            !item.AppraiseeProgress.FeedbackFromAppraisee)
                                        {
                                            <div class="text-danger" style="margin:auto">Appraisee Submitted to Supervisor</div>
                                        }
                                        else if (item.AppraiseeProgress.HODReject)
                                        {
                                            <div class="text-danger" style="margin:auto">HOD returned appraisal to supervisor for corrections</div>
                                        }
                                        else if (!item.AppraiseeProgress.AppraiseeSubmit)
                                        {
                                            <div class="text-danger" style="margin:auto">Not yet Submitted</div>
                                        }
                                        else if (item.AppraiseeProgress.SupervisorReject && !item.AppraiseeProgress.SupervisorSubmit)
                                        {
                                            <div class="text-danger" style="margin:auto">Rejected by supervisor for corrections</div>
                                        }
                                        else if (item.AppraiseeProgress.SupervisorAskForFeedback)
                                        {
                                            <div class="text-success" style="margin:auto">Supervisor request for appraisee's comments</div>
                                        }
                                        else if (item.AppraiseeProgress.SupervisorSubmit && item.AppraiseeProgress.AppraiseeSubmit && !item.AppraiseeProgress.HODSubmit)
                                        {
                                            <a href="/departmentappraisal/hod-enter-comments?u=@item.Employee.ApplicationUserId&s=@item.NewAppraisal.Slug" class="btn btn-primary btn-sm" style="display:block;margin:10px auto">View Appraisal</a>
                                        }
                                        else if (item.AppraiseeProgress.SupervisorSubmit &&
                                                item.AppraiseeProgress.AppraiseeSubmit &&
                                                item.AppraiseeProgress.HODSubmit &&
                                                !item.AppraiseeProgress.HRSubmit)
                                        {
                                            <div class="text-success" style="margin:auto">Submitted to HR</div>
                                        }
                                        else if (item.AppraiseeProgress.MDAcknowledgement)
                                        {
                                            <div class="text-success" style="margin:auto">Completed</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Elements -->
</div>


@section Scripts {

    <script>
        $(function () {
            var $texts = $(".capitalize-text");
            $.each($texts, function () {
                $(this).text(capitalize($(this).text()));
            })
            function capitalize(text) {
                return text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
            }

        })
                    ////////////////////////////////////////////////////////////////////
    </script>
}
